<%- include('header') %>

<div id="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="admin-heading">All Posts</h1>
            </div>
            <div class="col-md-2">
                <a class="add-new" href="add-post">add post</a>
            </div>
            <div class="col-md-12">
                <% if (result && result.length > 0) { %>
                <table class="content-table">
                    <thead>
                        <th>S.No.</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <% let count = 0; %>
                        <% result.forEach(item => { %>
                        <% count++; %>
                        <tr>
                            <td class='id'><%= count; %></td>
                            <td><%= item.title %></td>
                            <td><%= item.category %></td>
                            <td><%= item.post_date.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
                            <td><%= item.author %></td>
                            <td class='edit'><a href='update-post?post_id=<%= item._id %>'><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a style="cursor:pointer;" onclick="deleteData('delete-post?post_id=<%= item._id %>&category=<%= item.category %>')"><i class='fa fa-trash-o'></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <p>No records found. If you like you can add post :)</p>
                <% } %>

                <!-- pagination controls -->
                <ul class='pagination'>
                    <% if (currentPage > 1) { %>
                    <li><a href="?page=<%= currentPage - 1 %>">Previous</a></li>
                    <% } %>

                    <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (totalPages == 1) { } else { %>
                    <li <% if (currentPage === i) { %>class="active"<% } %>><a href="?page=<%= i %>"><%= i %></a></li>
                    <% } } %>

                    <% if (currentPage < totalPages) { %>
                    <li><a href="?page=<%= currentPage + 1 %>">Next</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
