<%- include('header') %>
<div id="admin-content">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class="admin-heading">Update Post</h1>
    </div>
    <div class="col-md-offset-3 col-md-6">
        <!-- Form for show edit-->
        <form action="edit-post" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <input type="hidden" name="post_id"  class="form-control" value="<%= result._id %>" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputTile">Title</label>
                <input type="text" name="title"  class="form-control" id="exampleInputUsername" value="<%= result.title %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> Description</label>
                <textarea name="description"  required id="summernote">
                    <%= result.description %>
                </textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputCategory">Category</label>
                <select class="form-control" name="category" value="<%= result.category %>">
                    <% result2.forEach(item => { %>
                        <option value="<%= item.name %>" ><%= item.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="">Post image</label>
                <input type="file" name="post_img">
                <img  src="/images/<%= result.post_img %>" height="150px">
                <input type="hidden" name="old_image" value="<%= result.post_img %>">
            </div>
            <input type="submit" name="submit" class="btn btn-primary" value="Update" />
        </form>
        <!-- Form End -->
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
