<div id="sidebar" class="col-md-4">
    <!-- search box -->
    <div class="search-box-container">
        <h4>Search</h4>
        <form class="search-post" action="search" method="post">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
    <div class="recent-post-container">
        <h4>Recent Posts</h4>
        <% sidebarData.forEach(item=>{ %>
            <div class="recent-post">
                <a class="post-img" href="single?post_id=<%= item._id %>">
                    <img src="/images/<%= item.post_img %>" alt="" />
                </a>
                <div class="post-content">
                    <h5><a href="single?post_id=<%= item._id %>"><%= item.title %></a></h5>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <a href='category?cat_name=<%= item.category %>'><%= item.category %></a>
                    </span>
                    <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <%= item.post_date.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
                    </span>
                    <a class="read-more" href="single?post_id=<%= item._id %>">read more</a>
                </div>
            </div>
            <% }) %>
    </div>
</div>
<!-- /recent posts box -->
</div>